.buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
}

#nextBtn {
    border-radius: 12px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
#previousBtn {
    border-radius: 12px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
